
# Visual Studio / .NET / Blazor specific
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.jfm
*.pfx
*.publishsettings
launchSettings.json
/wwwroot/dist/
*.local.json
ServiceDependencies/
PublishProfiles/
.idea/

# Blazor WASM
/_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
**/wwwroot/css/site.min.css
**/wwwroot/js/site.min.js

# Angular specific
/node_modules
/dist
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# Angular project specific
/Angular/.angular/cache
/Angular/node_modules
/Angular/dist
/Angular/.sass-cache
/Angular/connect.lock
/Angular/coverage
/Angular/libpeerconnection.log
/Angular/npm-debug.log
/Angular/yarn-error.log
/Angular/testem.log
/Angular/typings
/Angular/.env
/Angular/.env.*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.DS_Store
Thumbs.db
.env
.env.*