@page "/users"
@inject BlazorClient.ApiClient Api

<!-- ADMIN_BADGE_STYLE -->
<h2>Users List</h2>
<RadzenDataGrid Data="users" TItem="BlazorClient.User" AllowPaging="true" AllowFiltering="true" AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn TItem="BlazorClient.User" Property="Id" Title="ID" />
        <RadzenDataGridColumn TItem="BlazorClient.User" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="BlazorClient.User" Property="Email" Title="Email" />
    </Columns>
</RadzenDataGrid>

@code {
    private List<BlazorClient.User> users;
    protected override async Task OnInitializedAsync()
    {
        users = await Api.GetUsersAsync();
    }
}
